     NSPECIES =  
      NSPARSE =  
      SIGMA_E =  
      D_WIDTH =  
         Rcut =  
         Rmin =  
        THETA =  
        DELTA =  
 SIGMA_JITTER =  
     ELEMENTS =  
     TRAINING =  
      TESTING =  
