      NumberOfSpecies = 3
      NameOfAtoms = H N O
     WeightOfAtoms= 2 -2 -4
       D_WIDTH =  0.5
          Rmin =  0.5
          Rcut =  6.0
  SIGMA_JITTER =  1.D-6
        Ltrain =  .true.
         Ltest =  .true.
    NSPARSE_MB =  900
     SparseCut =  185
       Isparse =  1
        SigmaE =  0.001
        SigmaF =  0.01
        SigmaS =  0.01
         DELTA =  1.d0
    SIGMA_ATOM =  1.6d0
     LTRAIN_MB =  .true.
       Lstress =  .true.
